@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

:root {
  --font-family: "Space Grotesk";
}

body {
  font-family: var(--font-family), sans-serif;
  color: var(--color-black);
  background-color: var(--color-white);
}

* {
  border-color: var(--color-black);
}

@layer components {
  .btn-primary {
    @apply inline-flex h-15 cursor-pointer items-center justify-center border-2 bg-purple-300 px-8 py-4 text-sm font-bold shadow-[4px_4px_0px_0px_#000] transition-all hover:translate-x-[2px] hover:translate-y-[2px] hover:shadow-[2px_2px_0px_0px_#000];
  }
  .btn-secondary {
    @apply inline-flex h-15 cursor-pointer items-center justify-center border-2 bg-green-300 px-8 py-4 text-sm font-bold shadow-[4px_4px_0px_0px_#000] transition-all hover:translate-x-[2px] hover:translate-y-[2px] hover:shadow-[2px_2px_0px_0px_#000];
  }
}

/*@layer utilities {*/

/*}*/

/* @layer base {
  
} */
