@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");
@import "tailwindcss";

:root {
  /* Fonts */
  --font-primary: "Baloo 2";
  /* Core Colors */
  --color-bg: #fafaff;
  --color-text: #2d2d2d;
  --color-primary: #4ecdc4;
  --color-accent: #ff6b6b;
  /* State Colors */
  --color-success: #38b000;
  --color-error: #e63946;
  /* Misc */
  --color-border: #e5e7eb;
}

body {
  font-family: var(--font-primary), sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
}

@layer components {
  .btn-primary {
    @apply text-base font-semibold bg-[var(--color-text)]/10 rounded-4xl px-4 py-2 hover:bg-[var(--color-text)]/20 transition cursor-pointer;
  }
  .btn-secondary {
    @apply text-base font-semibold text-[var(--color-bg)] bg-[var(--color-primary)] rounded-4xl px-4 py-2 hover:bg-[var(--color-primary)]/90 transition cursor-pointer;
  }
}

/*@layer utilities {*/

/*}*/

/*@layer base {*/

/*}*/
